<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.email.mapper.EmailDraftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.email.entity.EmailDraft">
        <id column="id" property="id" />
        <result column="email_from" property="emailFrom" />
        <result column="email_user" property="emailUser" />
        <result column="email_to" property="emailTo" />
        <result column="email_cc" property="emailCc" />
        <result column="email_bcc" property="emailBcc" />
        <result column="email_subject" property="emailSubject" />
        <result column="email_type" property="emailType" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="getPage" resultType="com.rongji.rjsoft.email.vo.EmailDraftVo">
        select id, email_to, email_cc, email_subject, email_type, create_time, update_time from ${prefix}email_draft
        <where>
            <if test="null != params.subject and params.subject != ''">
                subject like concat(#{params.subject}, "%")
            </if>
            and del_flag = 0
        </where>
        order by update_time desc, create_time desc
    </select>

</mapper>
